<div  v-if='formulario==true'>
 <a @click='listarGrupoDocumento()' class="btn btn-primary"> Voltar</a>
	<form  class='grupo_documento' name='GrupoDocumento'>
	<input type='hidden' name='id' id='id' v-model='id'>
	<div class="form-group">
	<div class="col-sm-12">
	<label for='id_grupo'>Grupo</label>
                    <div class='select'>
                    <select name='id_grupo' id='id_grupo' v-model='id_grupo' required='required'>
                    </select>
                    </div>
	</div>
	<div class="col-sm-12">
	<label for='id_documento'>Documento</label>
                    <div class='select'>
                    <select name='id_documento' id='id_documento' v-model='id_documento' required='required'>
                    </select>
                    </div>
	</div>
	</div>
	<button class='btn btn-primary' type='button' @click='salvarGrupoDocumento()'>
	Salvar
	</button>
</form>
</div>
