<div v-if='formulario==false && visualizar==false'>
    <a @click='incluirGrupoDocumento()' class=" btn btn-primary"> Incluir</a>
  <table class='table'>
    <thead>
      <tr>
         <th>Grupo</th>
         <th>Documento</th>
         </tr>
   </thead>
   <tbody>
    <tr  v-for='linha in lista'>
      <td>{{linha.id_grupo}}</td>
      <td>{{linha.id_documento}}</td>
      <td>
        <a @click='verGrupoDocumento(linha.id)' class="btn btn-success">Visualizar</a>
        <a @click='editarGrupoDocumento(linha.id)' class="btn btn-success"> Editar</a>
        <a @click='excluirGrupoDocumento(linha.id)' class="btn btn-danger">Excluir</a>
      </td>
    </tr >
    <tr v-if='total==0'>
      <td colspan='3'>
      <div class='alert alert-danger' style='float: left; width:100%'>
      Nenhum registro encontrado!
      </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
<div v-if='visualizar==true'>
    <a href="#" @click='listarGrupoDocumento()' class="btn btn-primary"> Voltar</a>
    <ul>
      <li><b>id_grupo </b>{{dadosGrupoDocumento.id_grupo}}</li>
      <li><b>id_documento </b>{{dadosGrupoDocumento.id_documento}}</li>
      </ul>
</div>
